@model IEnumerable<ChickenFarmMVC.Models.Farmer>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h3>
    <table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</thscope>
                <th scope="col">Last Name</th>
                <th scope="col">License</th>
            </tr>
        </thead>
        @foreach (var farmer in Model)
        {
            <tr><td>@farmer.FarmerId</td><td>@farmer.FirstName</td><td>@farmer.LastName</td><td>@farmer.Year</td></tr>
        }
    </table>
    </h3>
</p>
